.header-logo {
    font-family: 'Montserrat', sans-serif;
    color: #5f6368!important;
}

.main-input {
    font-family: 'Poppins', sans-serif !important;
    background-color: #f1f3f4 !important;
    border-radius: 8px !important;
    border: 0px solid transparent !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 15px!important;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 15px!important;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 15px!important;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 15px!important;
}

.item:hover {
    background-color: transparent!important;
}

button {
    font-family: 'Poppins', sans-serif!important;
}

body {
    font-family: 'Poppins', sans-serif!important;
}

a {
    font-family: 'Poppins', sans-serif!important;
}

.login {
    font-size: 12px!important;
    border-radius: 8px !important;
    color: black!important;
}

.login:hover {
    background-color: black!important;
    color: white!important;
}

@media only screen and (min-width: 1200px) {
    #main-container {
        width: 1058px!important;
    }
}

@media only screen and (max-width: 1199px) {
    #main-container {
        width: 870px!important;
    }
}

@media only screen and (max-width: 991px) {
    #main-container {
        width: 660px!important;
    }
}

@media only screen and (max-width: 320px) {
    .main-input {
        font-size: 10px!important;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 10px!important;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        font-size: 10px!important;
    }
    :-ms-input-placeholder { /* IE 10+ */
        font-size: 10px!important;
    }
    :-moz-placeholder { /* Firefox 18- */
        font-size: 10px!important;
    }
}

.poppins {
    font-family: "Poppins", sans-serif !important;
}

.smalltext {
    font-size: 11px!important;
}

.breaks {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
